@import 'libs/_bootstrap-reboot.min'
@import 'libs/_slick'
@import 'base/_variables'
@import 'base/_mixins'
@import 'base/_animations'

*
    font-family: 'Roboto', sans-serif
    font-display: swap

.container
    max-width: 950px
    margin: 0 auto

.menu, .hamburger, .promo__mobile, .review__text_mobile, .footer__info_mobile
    display: none

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
  -webkit-appearance: none
  margin: 0

@import 'blocks/_titles'
@import 'blocks/_promo'
@import 'blocks/_header'
@import 'blocks/_buttons'
@import 'blocks/_advantages'
@import 'blocks/_consultation'
@import 'blocks/_forms'
@import 'blocks/_carousel'
@import 'blocks/_catalog'
@import 'blocks/_review'
@import 'blocks/_footer'
@import 'blocks/_modals'
@import 'blocks/_pageup'

@import 'base/_media'
